# Dependency directories
node_modules/
jspm_packages/

# Build / generate output
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db

# Downloaded web files
hts-cache/
backblue.gif
fade.gif
hts-log.txt
themewagon.github.io/
polyfill.io/ 