<!-- Navbar Component -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="assets/img/gallery/logo.png" height="45" alt="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
        <li class="nav-item"><a class="nav-link fw-medium" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link fw-medium" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link fw-medium" href="#services">Services</a></li>
        <li class="nav-item"><a class="nav-link fw-medium" href="#testimonials">Testimonials</a></li>
        <li class="nav-item"><a class="nav-link fw-medium" href="#contact">Contact</a></li>
      </ul>
      <div class="d-flex ms-lg-0 ms-3">
        <a class="btn btn-outline-primary me-2" href="login.html">Login</a>
        <a class="btn btn-primary" href="register.html">Register</a>
      </div>
    </div>
  </div>
</nav> 